{% extends 'back/layout_back.html.twig' %}

{% block title %}All Categories - Wear Avenue {% endblock %}

{% block body %}
    <h1>All Categories</h1>

    <a href="{{ path('app_back_category_new') }}" class= "btn btn-success btn-new">Add new Category</a>
    <table class="table mt-4 table-bordered table-hover">
        <thead>
            <tr class="bg-primary">
                <th>Id</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Subtitle</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td><img src="{{ asset(category.picture) }}" alt="" width="125px"></td>
                <td>{{ category.subtitle }}</td>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_back_category_show', {'id': category.id}) }}" class="btn btn-info">Show</a>
                    <a href="{{ path('app_back_category_edit', {'id': category.id}) }}" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
