{% extends 'back/layout_back.html.twig' %}

{% block title %}All Products - Wear Avenue{% endblock %}

{% block body %}
    <h1>All Products</h1>

    <a href="{{ path('app_back_product_new') }}" class= "btn btn-success btn-new">Add new product</a>
    <table class="table mt-4 table-bordered table-hover">
        <thead>
            <tr class="bg-primary">
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Picture</th>
                <th>Gender</th>
                <th>Color</th>
                <th>Rate</th>
                <th>Price</th>
                <th>CreatedAt</th>
                <th>Best_sellers_order</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td><img src="{{ asset(product.picture) }}" alt="" width="125px"></td>
                <td>{{ product.gender }}</td>
                <td>{{ product.color }}</td>
                <td>{{ product.rate }}</td>
                <td>{{ (product.price / 100)|number_format(2) }}</td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.bestSellersOrder }}</td>
                <td>
                    <a href="{{ path('app_back_product_show', {'id': product.id}) }}" class="btn btn-info">Show</a>
                    <a href="{{ path('app_back_product_edit', {'id': product.id}) }}" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
