{% extends 'base.html.twig' %}

{% block title %}All products - Sapes Avenue{% endblock %}

{% block main %}
<div class="small-container">

            <div class="row row-2">
                <h2>All Products </h2>
                <select name="" id="">
                    <option value="">Defaut Shorting</option>
                    <option value="">Sort by price</option>
                    <option value="">Sort by popularity</option>
                    <option value="">Sort by rating</option>
                    <option value="">Sort by sale</option>
                </select>
            </div>

            <div class="display">
            {% for product in products %}     
                <div class="col-4">
                    <a href="{{ path('app_front_product', {slug:product.slug}) }}"><img src= "{{ asset(product.picture) }}" alt="{{ product.name }}"></a>
                    <h4>{{ product.name }}</h4>
                    <div class="rating">
                        {% set star = product.rate %}
                            {% for i in 1..(star) %}
                            <i class="bi bi-star-fill"></i>
                            {% endfor %}
                        {% set stars = star * 10 %}
                            {% if stars % 10 > 0 %}
                            <i class="bi bi-star-half"></i>
                            {% endif %}
                        {% for i in 1..5 %}
                            {% if i >= (star + 1) %}
                             <i class="bi bi-star"></i>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p>{{ (product.price / 100)|number_format(2,",",".")}}$</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
