{% extends "base.html.twig" %}

{% block main %}
    <div class="small-container single-product">
            <div class="row">
                <div class="col-2">
                    <img src="{{ asset(product.picture) }}" width="100%" alt="{{ product.name }}" id="productImg">
                    <div class="small-img-row">
                        <div class="small-img-col">
                            <img src="{{ asset(product.picture) }}" alt="{{ product.name }}" class="small-img">
                        </div>
                        <div class="small-img-col">
                            <img src="{{ asset('assets/img/kid-03.jpg') }}" alt="{{ product.name }}" class="small-img">
                        </div>
                        <div class="small-img-col">
                            <img src="{{ asset('assets/img/kid-03.jpg') }}" alt="{{ product.name }}" class="small-img">
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <p>Lorem / Ipsum</p>
                    <h1>{{ product.name }}</h1>
                    <div class="rating">
                    {% set star = product.rate %}
                            {% for i in 1..(star) %}
                            <i class="bi bi-star-fill"></i>
                            {% endfor %}
                        {% set stars = star * 10 %}
                            {% if stars % 10 > 0 %}
                            <i class="bi bi-star-half"></i>
                            {% endif %}
                        {% for i in 1..5 %}
                            {% if i >= (star + 1) %}
                             <i class="bi bi-star"></i>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {# TODO SELECT SIZE INSTEAD OF DISPLAY MULTIPLE OPTIONS#}
                    
                    <h4>{{(product.price / 100)|number_format(2, ",", ".")}}$</h4>
                    {% for inventory in product.inventories %}
                        <div class="row">
                        <option value=" {{ inventory.id }}">{{ inventory.size }}</option>
                        <input type="hidden" name="" id="" value="1">
                    
                        <form action="{{ path('app_cart_add', {id:inventory.id} )}}" method="POST">
                        <button class="btn">Add to cart &#10095</button>
                        </form>
                        </div>
                    {% endfor %}
                        <h3>Description</h3>
                        <br>
                        <p>{{ product.description }}</p>
                </div>
            </div>
        </div>
{% endblock %}