{% extends "base.html.twig" %}

{% block main %}
    <div class="small-container single-product">
            <div class="row">
                <div class="col-2">
                    <img src="{{ product.picture }}" width="100%" alt="" id="productImg">
                    <div class="small-img-row">
                        <div class="small-img-col">
                            <img src="{{ asset('assets/img/kid-01.jpg') }}" alt="" class="small-img">
                        </div>
                        <div class="small-img-col">
                            <img src="{{ asset('assets/img/kid-03.jpg') }}" alt="" class="small-img">
                        </div>
                        <div class="small-img-col">
                            <img src="{{ asset('assets/img/kid-03.jpg') }}" alt="" class="small-img">
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <p>Lorem / Ipsum</p>
                    <h1>{{ product.name }}</h1>
                    <div class="rating">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <h4>{{(product.price / 100)|number_format(2)}}</h4>
                    {% for inventory in product.inventories %}
                        <div class="row">
                        <option value=" {{ inventory.id }}">{{ inventory.size }}</option>
                        <input type="hidden" name="" id="" value="1">
                    
                        <form action="{{ path('app_cart_add', {id:inventory.id} )}}" method="POST">
                        <button class="btn">Add to cart &#10095</button>
                        </form>
                        </div>
                    {% endfor %}
                        <h3>Description</h3>
                        <br>
                        <p>{{ product.description }}</p>
                </div>
            </div>
        </div>
{% endblock %}